{% extends "base.html" %}
{% block content %}
<div class="auth-container">
    <form method="POST" autocomplete="off">
        <h2><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</h2>
        <input type="email" name="email" placeholder="Email" required autocomplete="username">
        <input type="password" name="password" placeholder="Password" required autocomplete="current-password">
        <button type="submit"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</button>
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
    </form>
</div>
{% endblock %}