{% extends "base.html" %}
{% block content %}
<div class="my-listings-header">
    <a class="add-btn" href="{{ url_for('add_product') }}"><i class="fa-solid fa-plus"></i> Add New Product</a>
</div>
<div class="product-list">
    {% for p in products %}
    <div class="product-card" style="animation-delay: {{ loop.index0 * 0.09 }}s;">
        <img src="{{ url_for('static', filename=p[5]) }}" class="product-img" alt="Product">
        <h3>{{ p[1] }}</h3>
        <p>${{ "%.2f"|format(p[4]) }}</p>
        <a href="{{ url_for('edit_product', product_id=p[0]) }}"><i class="fa-solid fa-pen"></i> Edit</a>
        <a href="{{ url_for('delete_product', product_id=p[0]) }}" class="delete-btn" onclick="return confirm('Are you sure?')">
            <i class="fa-solid fa-trash"></i> Delete
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}